.header {
    display: flex;
    justify-content: space-between;
}
.main {
    display: flex;
    flex-wrap: wrap;
}
.main_btn:hover {
    box-shadow: 2px 2px 2px 2px rgba(255, 0, 0, 0.208);
}
.block_img {
    height: 300px;
    width: 100%;
    border: 1px solid red;
}

@media (min-width: 1366px) {
  .main {
    justify-content: space-between;
  }

  .main_content {
    max-width: 50%; 
  }

  .block_img {
    max-width: 550px;
  }
}

.animation {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.animation.show {
  opacity: 1;
  transform: translateY(0);
}