* {
    margin: 0;
    padding: 0;
}

.button {
    padding: 6px;
    border: 1px solid skyblue;
    border-radius: 6px;
    background-color: skyblue;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 15px 15px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.main_btn:hover {
    box-shadow: 0px 0px 4px 2px rgba(0, 106, 255, 0.301);
}

.main_left p {
    margin: 10px 0;
}

.main_right img {
    width: 100%;
}

@media (min-width: 1366px) {
    .main {
        height: 80vh;
    }
    .main_right {
        max-width: 550px;
    }
}

@media (min-width: 320px) and (max-width: 1365px) {
    .main_left {
        text-align: center;
    }
    .main_left p {
        margin: 5px 0;
    }
    .main_right {
        margin: 20px 10px;
    }
}

.animation {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.animation.show {
    opacity: 1;
    transform: translateY(0);
}